<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e6c6a30-6e3b-4f9d-8e3a-1a2b3c4d5e6f" Alias="Recent Media Picker Test" Level="1">
  <Info>
    <Name>Recent Media Picker Test</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umbraco.Community.RecentMediaPicker.PropertyEditorUi.RecentMediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Biscuit",
      "alias": "biscuit",
      "width": 300,
      "height": 200
    }
  ],
  "enableLocalFocalPoint": true,
  "multiple": true
}]]></Config>
</DataType>