<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdb4d6f8-b5c8-42a1-8888-9f4112691184" Alias="Recent Media Picker" Level="1">
  <Info>
    <Name>Recent Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umbraco.Community.RecentMediaPicker.PropertyEditorUi.RecentMediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>