<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1fd171b-5c79-409d-96dc-62bb908dfcc8" Alias="Test Recent Media Picker (Phase2b)" Level="1">
  <Info>
    <Name>Test Recent Media Picker (Phase2b)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umbraco.Community.RecentMediaPicker.PropertyEditorUi.RecentMediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Thumbnail",
      "alias": "thumbnail",
      "width": 300,
      "height": 300
    }
  ],
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "startNodeId": "9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38"
}]]></Config>
</DataType>