<?xml version="1.0" encoding="utf-8"?>
<Media Key="11351dff-6fcb-4b74-938e-3339fdf47792" Alias="Another Folder Deep" Level="2">
  <Info>
    <Parent Key="0a30fe52-b55b-472b-86b0-10feca177570">Deep</Parent>
    <Path>/Deep/AnotherFolderDeep</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-31T18:56:19</CreateDate>
    <NodeName Default="Another Folder Deep" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>