<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6728fc0-8671-4ba0-b1b6-8679400d10bd" Alias="camping.jpg" Level="3">
  <Info>
    <Parent Key="11351dff-6fcb-4b74-938e-3339fdf47792">Another Folder Deep</Parent>
    <Path>/Deep/AnotherFolderDeep/campingjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-10T14:32:47</CreateDate>
    <NodeName Default="camping.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j3cdiuay/camping.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>