<?xml version="1.0" encoding="utf-8"?>
<Media Key="beaae10c-618d-4f3e-9aa4-b71d520c9f30" Alias="chilling-with-my-boys.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/chillingWithMyBoysjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-11T19:32:46</CreateDate>
    <NodeName Default="chilling-with-my-boys.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qmvpyche/chilling-with-my-boys.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>