<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a30fe52-b55b-472b-86b0-10feca177570" Alias="Deep" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Deep</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-31T18:55:54</CreateDate>
    <NodeName Default="Deep" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>