<?xml version="1.0" encoding="utf-8"?>
<Media Key="42886c89-ab5d-48f5-af52-aae503b2f871" Alias="Deeper Still" Level="3">
  <Info>
    <Parent Key="11351dff-6fcb-4b74-938e-3339fdf47792">Another Folder Deep</Parent>
    <Path>/Deep/AnotherFolderDeep/DeeperStill</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-15T14:15:12</CreateDate>
    <NodeName Default="Deeper Still" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>