<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e58f9c3-fe5a-4f66-8286-dae082b48014" Alias="marc-in-the-sea.jpg" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/marcInTheSeajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-25T13:19:33</CreateDate>
    <NodeName Default="marc-in-the-sea.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jqzb2obt/marc-in-the-sea.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>