<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba1733df-21ad-4826-b5b9-aacf5cf9c5b6" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-11T11:01:49</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>