<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cac9c15-757d-4afc-a8a5-b9345885ce6b" Alias="orpheus-tooled-up.jpg" Level="4">
  <Info>
    <Parent Key="42886c89-ab5d-48f5-af52-aae503b2f871">Deeper Still</Parent>
    <Path>/Deep/AnotherFolderDeep/DeeperStill/orpheusTooledUpjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-15T14:16:00</CreateDate>
    <NodeName Default="orpheus-tooled-up.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tjlovkqu/orpheus-tooled-up.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>