<?xml version="1.0" encoding="utf-8"?>
<Media Key="c881afe0-0ecc-4776-a6ae-be8ef3f3bc08" Alias="Phase2b Test Folder" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/Phase2bTestFolder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-14T06:10:42</CreateDate>
    <NodeName Default="Phase2b Test Folder" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>