<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c0c6e63-f3ca-4f9c-876a-21edadc0f50a" Alias="standingonthebeach.jpg" Level="2">
  <Info>
    <Parent Key="0a30fe52-b55b-472b-86b0-10feca177570">Deep</Parent>
    <Path>/Deep/standingonthebeachjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-10T18:32:47</CreateDate>
    <NodeName Default="standingonthebeach.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ssevcvd/standingonthebeach.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>