<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4692e01-e2cd-458f-8fc2-2e918696a961" Alias="Dog Crime on The Rise" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/DogCrimeOnTheRise</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2026-09-15T14:18:30</CreateDate>
    <NodeName Default="Dog Crime on The Rise" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2026-09-15T15:18:38]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "8a838209-3ee9-415e-9228-6dca17296d68",
    "mediaKey": "1cac9c15-757d-4afc-a8a5-b9345885ce6b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <mainImageRecentMediaPicker>
      <Value><![CDATA[[
  {
    "key": "b5edbd6e-5fce-4f67-a421-235d8a3c88c3",
    "mediaKey": "1cac9c15-757d-4afc-a8a5-b9345885ce6b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImageRecentMediaPicker>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[Dogs are evolving, to survive on the streets - lots of clicks, search ony if you know the name]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Dog Crime on the Rise]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>