<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ca07566-781d-4bb9-b225-82fe5cc7e2b8" Alias="TEST" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TEST</Path>
    <Trashed>false</Trashed>
    <ContentType>recentMediaTestPage</ContentType>
    <CreateDate>2026-09-01T06:01:26</CreateDate>
    <NodeName Default="TEST" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <coreMediaPicker>
      <Value><![CDATA[]]></Value>
    </coreMediaPicker>
    <phase2BMediaPicker>
      <Value><![CDATA[]]></Value>
    </phase2BMediaPicker>
    <recentMedia>
      <Value><![CDATA[]]></Value>
    </recentMedia>
  </Properties>
</Content>